[Unit]
Description = isucon9 qualifier external shipment application

[Service]
WorkingDirectory=/home/isucon/isucari

ExecStart = /home/isucon/isucari/bin/shipment

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
