- name: install packages for ruby install
  become: yes
  apt:
    name: "{{ item }}"
    state: latest
  with_items:
    - autoconf
    - bison
    - libssl-dev
    - libyaml-dev
    - libreadline6-dev
    - zlib1g-dev
    - libncurses5-dev
    - libffi-dev
    - libgdbm6
    - libgdbm-dev

- name: Check Installed Ruby
  become: yes
  become_user: isucon
  args:
    chdir: /home/isucon
  command: /home/isucon/local/ruby/bin/ruby -e "puts RUBY_VERSION"
  register: ruby_version_output
  changed_when: ruby_version_output is failed
  ignore_errors: true

- name: Debug ruby_version_output
  debug:
    var: ruby_version_output

- name: Install Ruby
  become: yes
  become_user: isucon
  when: ruby_version_output is failed or ruby_version_output.stdout != "3.4.8"
  args:
    chdir: /home/isucon
  command: |
    /home/isucon/xbuild/ruby-install 3.4.8 /home/isucon/local/ruby

- name: Add PATH for ruby
  become: yes
  become_user: isucon
  blockinfile:
    marker: "# {mark} ANSIBLE MANAGED BLOCK ruby"
    dest: /home/isucon/.bashrc
    content: |
      export PATH=/home/isucon/local/ruby/bin:$PATH
