[Unit]
Description = isucon9 qualifier main application in perl

[Service]
WorkingDirectory=/home/isucon/isucari/webapp/perl
EnvironmentFile=/home/isucon/env.sh

ExecStart = /home/isucon/local/perl/bin/carton exec plackup -s Starlet --max-workers 10 -p 8000 app.psgi

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
