[Unit]
Description = isucon9 qualifier external payment application

[Service]
WorkingDirectory=/home/isucon/isucari
#EnvironmentFile=/home/isucon/env.sh

ExecStart = /home/isucon/isucari/bin/payment

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
