[Unit]
Description = isucon9 qualifier main application in golang

[Service]
WorkingDirectory=/home/isucon/isucari/webapp/go/
EnvironmentFile=/home/isucon/env.sh

ExecStart = /home/isucon/isucari/webapp/go/isucari

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
